<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

  <div class="max-w-2xl mx-auto mb-10 lg:mb-14">
    <h3 class="text-xl font-bold md:text-2xl md:leading-tight dark:text-white">
      <%= (t 'defaults.contact') %>
    </h3>
    <div class="divider"></div>
    <p class="mt-1 text-base text-gray-600 dark:text-white">
      以下のお問い合わせフォームからご連絡ください。
    </p>
    <%= link_to (t 'defaults.contact_form'), 'https://docs.google.com/forms/d/e/1FAIpQLSfG0pMfLg41F2wvvvKMiY8Nga7g-rz-qR98HgfcIXdKa4xWHw/viewform?usp=sf_link', class: "link dark:text-white" %>
  </div>
</div>
