<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl lg:max-w-5xl mx-auto">
    <div class="text-center">
      <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white">
        <%= (t 'defaults.contact') %>
      </h1>
      <p class="mt-3 text-gray-600 dark:text-gray-400">
        以下のお問い合わせフォームからご連絡ください。
      </p>
      <%= link_to (t 'defaults.contact_form'), 'https://docs.google.com/forms/d/e/1FAIpQLSfG0pMfLg41F2wvvvKMiY8Nga7g-rz-qR98HgfcIXdKa4xWHw/viewform?usp=sf_link', class: "link" %>
    </div>
  </div>
</div>
