<div class="pt-10 pb-20">
<iframe src="https://v2-embednotion.com/NotionDB-ed8a35da528d4b7ca14d22fcb9366328?pvs=4"></iframe>  <style>  iframe { width: 80%; height: 800px; border: 2px solid #ccc; border-radius: 10px; padding: none; margin: auto; }  </style>
</div>