<% if logged_in? %>
  <div class="pt-10 pb-20">
    <iframe src="https://v2-embednotion.com/Be_Notioner-Template-ed8a35da528d4b7ca14d22fcb9366328?pvs=4"></iframe>  <style>  iframe { width: 80%; height: 800px; border: 2px solid #ccc; border-radius: 10px; padding: none; margin: auto; }  </style>
  </div>
<% else %>
  <div class="pt-10 pb-20">
    <iframe src="https://v2-embednotion.com/Be-Notioner-Template-f6af1f48fc5243849fac23a8ddc8971a?pvs=4"></iframe>  <style>  iframe { width: 80%; height: 800px; border: 2px solid #ccc; border-radius: 10px; padding: none; margin: auto; }  </style>
  </div>
<% end %>