<div class="abosolute bottom-0 bg-cyan-200">
  <div class="w-5/9 border-2">
    <ul class="flex justify-center border-2">
      <li>利用規約</li>
      <li>プライバシーポリシー</li>
      <li>contact</li>
    </ul>
  </div>
</div>