<div class="flex justify-between border-2 p-5 m-5">
  <div class="w-2/9 border-2">
    <a href="/">Be Notioner</a>
  </div>
  <div class="w-5/9 border-2">
  <button class="md:hidden">開く</button>
    <ul class="hidden md:flex justify-center border-2">
      <li>質問</li>
      <li>お気に入り</li>
      <li>通知</li>
      <li>テンプレート</li>
      <li>マイページ</li>
    </ul>
  </div>
  <a href="", class="hidden md:flex justify-end">Login</a>
</div>