<div class="overflow-x-auto">
  <table class="table w-full">
  <thead>
  <tr>
    <th></th>
    <th>Keys</th>
    <th>説明</th>
    <th>Category</th>
  </tr>
</thead>
    <%= render @shortcuts %>
  </table>
</div>