<div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
<!-- Grid -->
<% articles.each do |article| %>
  <%= link_to article.url, class: "group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" do %>
    <!-- Card -->
      <div class="aspect-w-16 aspect-h-9">
        <%= image_tag article.ogp_information[:image] %>
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600">
          いいね数 : <%= article.likes_count %>
        </p>
        <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600">
          <%= article.title %>
        </h3>
      </div>
    <!-- End Card -->
    <% end %>
  <% end %>
</div>
