<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Read our latest news</h2>
    <p class="mt-1 text-gray-600">We've helped some great companies brand, design and get to market.</p>
  </div>
  <!-- End Title -->

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
  <!-- Grid -->
  <% @popular_articles.each do |article| %>
    <%= link_to article.url, class: "group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition" do %>
      <!-- Card -->
        <div class="aspect-w-16 aspect-h-9">
          <%= image_tag article.ogp_information[:image] %>
        </div>
        <div class="p-4 md:p-5">
          <p class="mt-2 text-xs uppercase text-gray-600">
            いいね数 : <%= article.likes_count %>
          </p>
          <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600">
            <%= article.title %>
          </h3>
        </div>
      <!-- End Card -->
      <% end %>
    <% end %>
  </div>

</div>
<!-- End Card Blog -->